atomicwrites
attrs
beautifulsoup4
certifi
chardet
click
colorama
dataclass-csv
fastapi
h11
idna
iniconfig
lxml
packaging
pluggy
py
pydantic
pyparsing
requests
soupsieve
starlette
toml
typer
typing-extensions
urllib3
uvicorn
